<settings>
	<setting propertyKey = "@Properties.propEnableGraph" title = "@Strings.propEnableGraph">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey = "@Properties.propEnableLAPStatistic" title = "@Strings.propEnableLAPStatistic">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey = "@Properties.propEnableSummaryStatistic" title = "@Strings.propEnableSummaryStatistic">
		<settingConfig type="boolean" />
	</setting>
		
	<setting propertyKey = "@Properties.propAscentSpeedOnly" title = "@Strings.propAscentSpeedOnly">
		<settingConfig type="boolean" />
	</setting>
	<setting propertyKey = "@Properties.propInMotion" title = "@Strings.propInMotion">
		<settingConfig type="boolean" />
	</setting>

	<setting propertyKey = "@Properties.propZone1" title = "@Strings.propZone1">
		<settingConfig type="numeric" />
	</setting>
	<setting propertyKey = "@Properties.propZone2" title = "@Strings.propZone2">
		<settingConfig type="numeric" />
	</setting>
	<setting propertyKey = "@Properties.propZone3" title = "@Strings.propZone3">
		<settingConfig type="numeric" />
	</setting>
	<setting propertyKey = "@Properties.propZone4" title = "@Strings.propZone4">
		<settingConfig type="numeric" />
	</setting>

</settings>